    $colorprimary: #f96302;
    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        background-color: white;
    }
    
    .container-fluid {
        .row {
            .col {
                background-color: $colorprimary;
                text-align: center;
                color: white;
                font-weight: 100;
                font-size: 15px;
            }
        }
    }
    
    .settings {
        display: flex;
        justify-content: right;
        margin-right: 300px;
        .settings-p {
            padding: 0 10px;
            font-size: 8px;
        }
    }
    
    .container {
        background-color: white;
        .navbar {
            display: flex;
            .container-fluid {
                background-color: white;
                display: flex;
                img {
                    max-width: 50px;
                    margin: 10px;
                }
                // .d-flex {
                //     .form {}
                //     .btns {}
                // }
            }
        }
    }
    
    .container {
        .menu {
            display: flex;
            list-style: none;
            font-size: 13px;
            // box-shadow: 0;
            .menu-li {
                padding: 0 20px;
            }
        }
    }
    
    .espiners {
        text-align: center;
        margin: 10px;
    }
    
    .feels {
        border: 1px solid gray;
        border-top: 6px solid #84bc59;
        margin-top: 50px;
        .feels-menu {
            list-style: none;
            display: flex;
            .feels-item {
                border: .5px solid black;
                padding: 0 20px;
            }
        }
        .feels-tittle {
            padding: 15px;
            margin-left: 20px;
        }
        .cardsitas {
            display: flex;
            .card {
                margin: 80px 0 20px 70px;
                border: none;
                .card-img-top {
                    width: 8rem;
                }
                .card-body {
                    display: block;
                    padding: 0px !important;
                    .card-text {
                        font-size: 10px;
                        margin: 10px;
                        text-align: left;
                    }
                    .card-description {
                        font-size: 10px;
                    }
                }
            }
        }
    }
    
    .container {
        .simple-cards {
            .card {
                margin: 25px 0 5px 30px;
                border: none;
                .card-img-top {
                    width: 15rem;
                }
                .card-body {
                    padding: 0%;
                    .card-text {
                        font-weight: 900;
                        font-size: 32px;
                        cursor: pointer;
                    }
                }
            }
        }
    }